{% extends "base.html" %}

{% block content %}
<div class="site-sectino">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-m-12">
                <h2 class="text-black">Your Profile</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ request.user.email }}</h5>
                        <a href="{% url 'account_logout' %}"><small class="float-right">Logout</small></a>
                    </div>
                    <hr />
                    <h5 class="card-title">Your Orders</h5>
                    <div class="site-blocks-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Reference No.</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <a href="{% url 'cart:order-detail' order.pk %}"><td>#{{ order.reference_number }}</td></a>
                                    <td>{{ order.ordered_date }}</td>
                                    <td>{{ order.get_total }}</td>
                                    <td>{% if order.ordered %}Paid{% else %}Not paid{% endif %}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">You havent made any purchases</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}