{% extends "base.html" %}
{% load crispy_forms_tags %}                                    

{% block content %}
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href={% url 'home' %}>Home</a>
                    <span class="mx-2 mb-0">/</span>
                    <strong class="text-block">{{product.title}}</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">

                <div class="col-md-6">
                    <a href=""><img src="{{ product.image.url }}" alt="producto" class=></a>
                </div>

                    <div class="col-md-6 mb-4" data-aos="fade-up">
                            <h2 class="text-black">{{product.title}}</h2>
                            <p>{{product.description}}</p>

                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="btn btn-sm btn-primary buy-now" type="submit">Add to Cart</button>
                            </form>
                    </div>
            </div>
        </div>
    </div>
 {% endblock content %}
